/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

.red-card{
  font-weight: bolder;
  color:red;
}

.green-card{
  font-weight: bolder;
  color:green;
}

